@charset "utf-8";
/* [S] quick2.div */

#quick2{
    position: fixed;
    width: 100px;
    height: 450px;
    margin-top: 200px;
    left: 50%;
    margin-left: 600px;
    z-index: 1000;
    background-color: rgb(255, 217, 102);
    box-sizing: border-box;
    border-radius: 20px;
}

#quick2_menu{
    position: relative;
    width: 80px;
    height: 428px;
    margin: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
}

#quick2_menu li{
    position: relative;
    width: 80px;
    height: 80px;
    border-bottom: 7px dotted rgb(255, 217, 102);
    text-align: center;
    display: grid;
    place-items: center;
}

#quick2_menu li:last-child{
    border: none;
}

#quick2_menu li p{
    font: bold 0.9em "NGothic", Gulim;
    color: #777;
}

#quick2_menu .quick2_first{
    background-color: rgb(255, 217, 102);
}

#quick2_menu .quick2_first p{
    color: #fff;
    font: bold 1.1em "NGothicEB", Gulim;
}

/*hover*/

#quick2_menu li:hover{
    background-color: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#quick2_menu li:hover:first-child{
    background-color: rgb(255, 217, 102);
}

#quick2_menu li:hover:last-child{
    border-radius: 15px;
}

#quick2_menu li:hover p{
    color: rgb(9, 46, 46);
    font: bold "NGothicEB", Gulim;
}

/* [E] quick2.div */


/* [S] div.head*/
#head{
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(9, 46, 46);
    transition: all 1s ease;
    z-index: 100;
}

#head:hover{
    background-color: #fff;
}

#head:hover header>nav>#navi>li>a{
    color: #555;
    font: bold 1em "NGothicEB", Gulim;
}

header{
    position: relative;
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

header a{
    color: #ddd;
}

header h1{
    position: relative;
}

header h1 img{
    position: relative;
    width: 100px;
    height: 100px;
    left: 500px;
    margin: 30px 0 30px -50px;
}

header h1 img.loca_1{
    position: absolute;
}

header h1 img.loca_2{
    opacity: 0;
    transition: opacity 0.5s ease;
}

#head:hover header h1 img.loca_2{
    opacity: 1;
}

header h1 img:hover{
    
    width: 110px;
    height: 110px;
    margin: 25px 0 25px -55px;
}

header #login{
    position: absolute;
    width: auto;
    height: 20px;
    top: 20px;
    right: 20px;
    text-align: center;
    font-size: 12px;
}

header #login li{
    float: left;
    padding: 0 15px;
    }

header #login li:first-child{
    border-right: 1px solid #ddd;
}

header #login li a{
    color: #aaa;
}

header #login li a:hover{
    color: #555;
}

nav #navi{
    position: relative;
    width: 1000px;
    height: 60px;
    top: -50px;
    text-align: center;
    font: bold 1em/60px "NGothic", Gulim;
}

nav #navi::after{
    content: "";
    display: block;
    clear: both;
}

nav #navi li{
    float: left;
    width: 200px;
}

nav #navi>li.navi_r{
    position: relative;
    left: 200px;
}

nav #navi>li>a{
    position: relative;
    display: inline-block;
    width: 60%;
    height: 35px;
    top: 0;
}

nav #navi>li:hover>a{
    width: 100%;
    border-bottom: 3px solid rgb(9, 46, 46);
    transition: width 0.5s ease-in-out;
}

/* Sub Menu*/
nav #navi>li>ul{
    position: absolute;
    width: 1000px;
    background-color: #fff;  
    z-index: 100;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
}

nav #navi>li:nth-child(3)>ul{
    left: -600px;
}

nav #navi>li:nth-child(4)>ul{
    width: 800px;
    left: -600px;
}

nav #navi>li:hover>ul{
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}


nav #navi>li>ul>li{
    height: 0px;
    line-height: 0px;
}

nav #navi>li:hover>ul>li{
    height: 25px;
    line-height: 25px;
    transition: all 0.5s;
}

nav #navi>li>ul>li>a{
    display: block;
    height: 25px;
    z-index: 100;
    text-align: center;
    background-color: #fff;  
    color: #777;
    font: bold 0.9em/25px "NGothic", Gulim;
}

nav #navi>li>ul>li>a:hover{
    color: rgb(9, 46, 46);
    font: bold 1em/25px "NGothicEB", Gulim;
}

/* [E] div.head*/

/*슬라이드 시작*/

section{
    width: 1000px;
    position:relative;
    margin: 0 auto;   
    height: auto;
}

section#ms_top{
    width: 1000px;
    position:relative;
    margin: 0 auto;    
}

section#ms_top h2{
    position: absolute;
    width: 250px;
    left: 50%;
    top: 50px;
    margin-left: -125px;
    height: auto;
    text-align: center;
    background-color: #fff;
    z-index: 50;
    font-weight: bold;
    font: 2em "NGothicEB",Gulim;
}

section#ms_top p.click_quick{
    position: absolute;
    width: 300px;
    height: auto;
    right: 10px;
    top: 0px;
    text-align: right;
    z-index: 100;
}

#ms_slide_area{
    position: relative;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
}

#ms_slide_area ul{
    width: 300%;
    height: 450px;
}

#ms_slide_area ul::after{
    content: "";
    display: block;
    clear: both;
}

#ms_slide_area ul li{
    width: 33.33%;
    height: 450px;
    float: left;
}

#ms_slide_area ul li img{
    width: 100%;
    margin-top: 120px;
}

#ms_slide_list{
    position: absolute;
    left: 48%;
    bottom: 270px; 

}

#ms_slide_list li{
    display: inline;
}

/*----------------슬라이드 끝-------------*/

#ms_top p{
    margin: 0 0 18px;
    font: 0.9em "NGothic",Gulim;
    line-height: 20pt;

}

#ms_top p#ms_smr_ital{
    height: auto;
    margin-top: 50px;
    font: 1.2em "NGothic",Gulim;
    font-style: italic;
    font-weight: bold;
    color: rgb(22, 160, 133);
}

#ms_top span.bold{
    font: "NGothic",Gulim;
    font-weight: bold;
}

/*---------top_coffee 끝-----------*/
/*---------midde_coffee 시작-----------*/
#midde_coffee{
    position: relative;
    width: 1000px;
    height: auto;
    margin-top: 50px;
    font: "NGothic",Gulim;
    background: #f4f4f2;
    
    
} 
#midde_coffee h3{
    position: relative;
    
    width: 300px;
    height: 70px;
    
    margin: 0 auto;
    top: -30px;
    text-align: center;
    vertical-align: middle;
    z-index: 50;
    font-weight: bold;
    font: 1.5em/70px "NGothicEB",Gulim;
    border-radius: 30px;
    background-color: #f4f4f2;
    /*background-color: #fff;*/
}

#midde_coffee article{
    
    height: 500px;
}

p.title{
    position: relative;
    font: 1.3em "NGothic",Gulim;
    font-weight: bold;
    
    width: 200px;
    margin-left: 50px;
    margin-top: 40px;
}

span.bold{
    font: "NGothic",Gulim;
    font-weight: bold;
}

span.green_bold{
    font: 1.5em "NGothicEB",Gulim;
    font-weight: bold;
    color:  rgb(22, 160, 133) ;
}

#midde_coffee #chi_coffee{
    border-bottom: 1px solid black;
}

#midde_coffee #chi_coffee p.title{
    
    position: relative;
    top: -30px;
}

#midde_coffee #chi_coffee div p{
    position: relative;
    width: 450px;
    text-align: left;
    line-height: 20pt;
    margin-top: 50px;
    left: 50px;

}

#midde_coffee #chi_coffee a{
    
    position: absolute;
    width: 280px;
    text-align: center;
    margin-top: 40px;
    margin-left: 80px;
    border-bottom: 1px solid black;
    border-radius: 15px;
    background-color: rgb(22, 160, 133);
    padding: 5px;
    color: #fff;
    font: 0.9em, "NGothic",Gulim;
}


#midde_coffee #chi_coffee img{
    position: absolute;
    width: 400px;
    height: 350px;
    right: 50px;
    top: 160px;
}

/*------치커리커피 파트 끝-------------*/
/*--------보리커피 시작----------*/
#midde_coffee #bori_coffee{
    position: relative;
    
}

#midde_coffee #bori_coffee div p{
    position: relative;
    width: 450px;
    text-align: left;
    
    margin-top: 50px;
    left: 50px;
    line-height: 20pt;
    font: 0.9em, "NGothic",Gulim;
}

#midde_coffee #bori_coffee a{
    position: absolute;
    width: 300px;
    text-align: center;
    margin-top: 40px;
    margin-left: 80px;
    
    border-radius: 15px;
    background-color: rgb(22, 160, 133);
    padding: 5px;
    color: #fff;
    font: 0.9em, "NGothic",Gulim;
}

#midde_coffee #bori_coffee img{
    position: absolute;
    width: 400px;
    height: 350px;
    right: 50px;
    top: 100px;
}

/*-------------보리커피 끝----------------*/

/*-------bottom tea 시작--------------*/

#bottom_tea{
    position: relative;
    width: 1000px;
    height: auto;
    margin-top: 50px;
    font: "NGothic",Gulim;
}

#bottom_tea h3{
    position: relative;
    padding-bottom: 20px;
    height: auto;
    text-align: center;
    z-index: 50;
    font-weight: bold;
    font: 1.5em "NGothicEB",Gulim;
}

#rui_tea{
    border-bottom: 1px solid #000;
    position: relative;
    width: 1000px;
    height: 500px;
}

#rui_tea img{
    position: relative;
    width: 400px;
    height: 350px;
    margin-left: 50px;
    margin-top: 50px;
}

#rui_tea div p{
    position: relative;
    left: 480px;
    bottom: 300px;
    width: 450px;
    text-align: left;
    line-height: 20pt;
}

/*----------루이보스차 끝------------------*/
/*--------페퍼민트차 시작----------*/
#mint_tea{
    border-bottom: 1px solid #000;
    position: relative;
    width: 1000px;
    height: 500px;
}

#mint_tea img{
    position: relative;
    width: 400px;
    height: 350px;
    margin-left: 50px;
    margin-top: 50px;
}

#mint_tea div p{
    position: relative;
    left: 480px;
    bottom: 350px;
    width: 450px;
    text-align: left;
    line-height: 20pt;
    margin-top: 50px;
}

/*----------페퍼민트차 끝------------*/
/*---------감잎차 시작--------------*/
#gam_tea{
    position: relative;
    width: 1000px;
}

#gam_tea img{
    position: relative;
    width: 400px;
    height: 350px;
    margin-left: 50px;
    margin-top: 50px;
}

#gam_tea div p{
    position: absolute;
    width: 450px;
    text-align: left;
    line-height: 20pt;
    margin-top: 30px;
    
}

#gam_tea div p.txt01{
    position: absolute;
    left: 480px;
    bottom: 250px;
}

#gam_tea div p.txt02{
    position: absolute;
    left: 480px;
    bottom: 120px;
}

#gam_tea div p.small{
    position: absolute;
    left: 480px;
    bottom: 40px;
    font-size: 0.8em;
}

#gam_tea div span.textred{
    color: red;
    font-weight: bold;
}
/* [S] div.foot*/

#foot{
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(65, 57, 52);
    margin-top: 80px;
}

#foot footer{
    position: relative;
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

#foot footer ul{
    position: relative;
    width: 280px;
    margin: 0 auto;
    padding: 30px 0;
}

#foot footer ul:after{
    content: "";
    display: block;
    clear: both;
}

#foot footer ul li{
    float: left;
    color: #ddd;
    text-align: center;
    border-right: 1px solid #ddd;
    padding: 0px 10px;
    font: normal 14px "NGothic", Gulim;
}

#foot footer ul a:last-child li{
    border-right: 0;
}

#foot footer ul li:hover{
    color: #999;
}

#foot footer address{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px ;
}

#foot footer address p{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

#foot footer address span{
    display: block;
    color: #ddd;
    font: normal 14px "NGothic", Gulim;
    text-align: center;
}

